* {
    outline: none;
}
a,
button {
    text-decoration: none!important;
    cursor: pointer!important;
    transition: 1s;
}
p {
    line-height: 1.5;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}
.container {
    max-width: 900px!important;
    width: 100%;
}
.btn-confira {
    font-size: 14px;
    color: #4b4287;
    text-transform: uppercase;
    display: table;
    padding: 10px 40px;
    background: #f2dc05;
    border-radius: 50px;
    margin: 30px auto 0;
}
.btn-confira:hover {
    color: #f2dc05;
    background: #000;
}

header {
    background: #4b4287;
}
.topo {
    width: 100%;
    height: 50px;
}
.topo>div {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.topo h4 {
    font-size: 14px;
    color: #fff;
    margin: 0;
}
.topo h4 .fa {
    color: #f2dc05;
    margin-right: 5px;
}
.topo ul {
    display: flex;
    margin: 0 20px;
}
.topo li>a {
    font-size: 14px;
    color: #4b4287;
    width: 30px;
    height: 30px;
    background: #f2dc05;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 0 5px;
}
.topo li>a:hover,
.topo .btn-aluno:hover {
    background: #000;
}
.topo .btn-aluno {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 30px;
    background: #e65d3c;
    padding: 0 30px;
    border-radius: 50px;
}

ul.nav,
.navbar-default,
.navbar-header .navbar-brand,
#bs-example-navbar-collapse-1 {
    height: 90px;
}
.navbar-default {
    background: #f2dc05;
    border-color: transparent;
    border-radius: 30px 30px 0 0;
    margin-bottom: 0px;
    border: none;
}
.navbar-header .navbar-brand {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
    top: -2px;
}
#bs-example-navbar-collapse-1 {
    float: right;
    padding: 0;
}
.navbar-header img {
    margin-left: 15px;
}
ul.nav {
    display: flex;
    align-items: center;
}
ul.nav>li>a,
.sub-menu a {
    font-size: 15px;
    font-weight: bold;
    color: #4b4287!important;
    text-transform: uppercase;
    padding: 10px;
}
ul.nav>li>a:hover,
.sub-menu a:hover {
    color: #c45b1f!important;
}
ul.nav .sub-menu {
    display: none;
    position: absolute;
    z-index: 9;
    width: 280px;
    padding: 10px;
    background: #f2dc05;
}
.sub-menu li {
    margin-bottom: 5px;
}

.vitrine {
    background: #f2dc05;
}
.vitrine img {
    border-radius: 30px 30px 0 0;
}

.pilares {
    padding: 50px 0 10px;
    background: #fff;
    border-radius: 30px 30px 0 0;
    margin-top: -30px;
    position: relative;
    z-index: 99;
}
.pilares h1 {
    font-size: 28px;
    color: #e65d3c;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 0 30px;
}
.pilares p.text-center {
    font-size: 16px;
    color: #282828;
    margin: 0 0 40px;
}
.pilares h2 {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 15px;
}
.pilares img {
    margin-right: 20px;
}
.pilares .item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.pilares .item .content:after {
    content: "";
    width: 140px;
    height: 5px;
    border-radius: 5px;
    display: block;
}
.pilares .item p {
    font-size: 16px;
    color: #282828;
    margin: 0 0 10px;
}
.pilares .item1 h2 {
    color: #f2dc05;
}
.pilares .item1 .content:after {
    background: #f2dc05;
}
.pilares .item2 h2 {
    color: #abc675;
}
.pilares .item2 .content:after {
    background: #abc675;
}
.pilares .item3 h2 {
    color: #d79906;
}
.pilares .item3 .content:after {
    background: #d79906;
}
.pilares .item4 h2 {
    color: #4b4287;
}
.pilares .item4 .content:after {
    background: #4b4287;
}
.pilares .content {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.download {
    background: url(../images/bg-download.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 315px;
}

.minha-casa {
    padding: 60px 0;
}
.minha-casa h1 {
    font-size: 28px;
    color: #4b4287;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 0 30px;
}
.minha-casa strong {
    color: #4b4287;
}
.minha-casa p {
    font-size: 16px;
    color: #282828;
    margin: 0 0 15px;
}
.minha-casa img {
    border-radius: 0 0 60px 0;
}
.minha-casa a {
    font-size: 14px;
    color: #efd6a5;
    text-transform: uppercase;
    display: table;
    padding: 10px 40px;
    background: #4b4287;
    border-radius: 50px;
    margin: 30px auto 0;
}
.minha-casa a:hover {
    background: #000;
}

.experiencia {
    padding: 60px 0;
    background: #e65d3c;
}
.experiencia h1 {
    font-size: 28px;
    color: #f2dc05;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 0 30px;
}
.experiencia iframe {
    border: 15px solid #f3e3ae;
    border-radius: 5px;
    display: table;
    margin: 10px auto 50px;
}
/* .experiencia .owl-item.active:last-child {
    border-right: 1px solid #f2dc05;
} */
.experiencia img.aspas1 {
    width: 65px!important;
    margin-bottom: 20px
}
.experiencia img.aspas2 {
    width: 45px!important;
    float: right;
}
.experiencia p {
    color: #fff;
}

img.img-geral {
    width: 100%;
}

footer {
    background: #4b4287;
    padding: 50px 0 0;
}
footer:after {
    content: "";
    display: block;
    width: 100%;
    height: 19px;
    background: url(../images/bd-footer.jpg);
    background-size: cover;
    background-position: center;
}
footer .fa {
    font-size: 30px;
    color: #d79906;
    margin-bottom: 15px;
}
footer p {
    color: #fff;
    margin: 0;
}
footer .rodape {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}
footer ul {
    display: flex;
    margin: 0 20px 0 0;
}
footer li>a {
    font-size: 14px;
    color: #4b4287;
    width: 30px;
    height: 30px;
    background: #f2dc05;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 0 10px 0 0;
}
footer li>a .fa {
    font-size: 14px;
    color: #4b4287;
    margin: 0;
}
footer li>a:hover {
    background: #000;
}

.titulo-interno {
    padding: 40px 0 0;
}
.titulo-interno h1 {
    font-size: 26px;
    font-weight: bold;
    color: #e65d3c;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 3px solid #4b4287;
    display: table;
    padding-bottom: 5px;
    margin: 0 auto 15px;
}
.titulo-interno ul {
    display: flex;
    justify-content: center;
    margin: 0 0 30px;
}
.titulo-interno ul>li>a {
    font-size: 14px;
    font-weight: bold;
    color: #818181;
    text-transform: uppercase;
    margin: 0 10px;
}
.titulo-interno ul>li:after {
    content: "•";
}
.titulo-interno ul>li:last-child:after {
    display: none;
}
.interna {
    padding: 60px 0;
}
.interna p {
    font-size: 16px;
    color: #282828;
    margin-bottom: 20px;
}

.equipe {
    padding: 50px 0 30px;
}
.equipe h1 {
    font-size: 28px;
    font-weight: bold;
    color: #e65d3c;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 0 30px;
}
.equipe img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}
.equipe h2 {
    font-size: 18px;
    font-weight: bold;
    color: #e65d3c;
    text-align: center;
    text-transform: uppercase;
    margin: 15px 0 10px;
}
.equipe h4 {
    font-size: 14px;
    color: #4b4287;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 40px;
}

.turmas h2 {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 5px;
    display: table;
    margin: 0 0 20px;
}
.turmas .item {
    display: flex;
    align-items: center;
}
.turmas .item1 h2 {
    color: #e65d3c;
    border-bottom: 2px solid #e65d3c;
}
.turmas .item2 h2 {
    color: #97cd7b;
    border-bottom: 2px solid #97cd7b;
}
.turmas .item3 h2 {
    color: #4b4287;
    border-bottom: 2px solid #4b4287;
}
.turmas .item4 h2 {
    color: #f2dc05;
    border-bottom: 2px solid #f2dc05;
}

.turmas h4 {
    font-size: 35px;
    font-weight: bold;
    color: #282828;
    margin: 0 0 20px;
}
.turmas p {
    font-size: 16px;
    color: #282828;
    margin: 0;
}

.atividades h1 {
    font-size: 40px;
    font-weight: bold;
    color: #4b4287;
    margin: 0 0 30px;
}
.atividades h3 {
    font-size: 28px;
    font-weight: bold;
    color: #e65d3c;
    margin: 0 0 20px;
}
.atividades h5 {
    font-size: 28px;
    font-weight: bold;
    color: #4b4287;
    margin: 50px 0;
}
.atividades .item {
    margin: 30px 0;
}

.alimentacao {
    padding: 60px 0;
}
.alimentacao h2 {
    font-size: 28px;
    font-weight: bold;
    color: #97cd7b;
    text-align: center;
    margin: 0 auto 30px;
}
.alimentacao img {
    margin: 0 20px 20px 0;
}
.saude h2 {
    font-size: 28px;
    font-weight: bold;
    color: #4b4287;
    text-align: center;
    margin: 0 auto 30px;
}

.estrutura h2 {
    font-size: 28px;
    font-weight: bold;
    color: #4b4287;
    margin: 0 auto 30px;
}
.estrutura ul>li {
    font-weight: bold;
    color: #4b4287;
    margin: 10px 0;
}

/* --- MOBILE --- */
@media (max-width: 767px) {
    .topo .btn-aluno {
        font-size: 13px;
        padding: 0 20px;
    }
    #bs-example-navbar-collapse-1 {
        float: none;
        background: #f2dc05;
        z-index: 300;
        position: relative;
        min-height: 300px;
        height: 100%;
        padding: 10px 30px;
        width: 100%;
        margin: 0 auto;
        top: -23px;
    }
    .navbar-toggle {
        padding: 15px 15px;
        margin-top: 20px;
    }
    .navbar-default .navbar-toggle {
        border-color: #4b4287;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #4b4287;
    }
    .navbar-header {
        height: 90px;
    }
    #menu ul.nav.navbar-nav {
        float: none;
        display: block;
        text-align: center;
    }
    #menu ul.nav.navbar-nav>li {
        margin-bottom: 20px;
    }
    .navbar-nav {
        width: 100%;
        height: auto!important;
        float: none;
        text-align: center;
        display: block!important;
        margin: 10px 0 0 0;
    }
    .navbar-nav>li>a {
        padding: 15px 10px!important;
    }
    .vitrine img {
        height: 200px;
        object-fit: cover;
    }
    .download {
        background: transparent;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: auto;
    }
    .experiencia iframe {
        width: 100%;
        height: 250px;
    }
    footer .fa {
        margin-bottom: 10px;
        margin-top: 20px;
    }
    footer .rodape {
        margin-top: 20px;
    }
    .turmas .item {
        display: block;
    }
    .turmas .item img {
        margin: 20px 0;
    }
    .alimentacao img {
        margin: 20px 0;
    }
}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) and (max-width: 1100px) {

}